@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-tiny: 250px;
    --breakpoint-desktop: 900px;

    --font-sans:
        "Inter Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer components {
    h1 {
        @apply text-4xl font-bold text-gray-700 max-tiny:text-2xl;
    }

    h2 {
        @apply text-lg font-bold text-gray-700 max-tiny:text-sm;
    }

    p,
    li,
    a {
        @apply text-lg font-light text-gray-600 max-tiny:text-sm;
    }

    a {
        @apply font-medium text-indigo-500 hover:text-gray-700;
    }

    .cta {
        @apply font-medium text-base py-1.5 pl-4 pr-[13px] rounded-2xl whitespace-nowrap max-tiny:text-sm max-tiny:w-full max-tiny:text-center;
    }

    .github {
        @apply bg-black text-white hover:text-white;
    }
}
