name: deploy
run-name: "CDK deploy (${{ github.ref_name }})"

on:
  push:
    tags: 
      - "*"

permissions:
  id-token: write
  contents: read

env:
  NODE_VERSION: 22
  AWS_REGION: us-east-1
  AWS_ACCOUNT: "944671670298"
  AWS_ROLE: arn:aws:iam::944671670298:role/GithubActions-afrigon-resume
  CDK_STACKS: "Resume"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Install CDK Dependencies
        run: npm ci
        working-directory: ./cdk

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ROLE }}
          role-session-name: resume-ci-session

      - name: CDK synth
        run: npx cdk synth
        working-directory: ./cdk

      - name: CDK deploy
        run: npx cdk deploy ${{ env.CDK_STACKS }} --require-approval never --verbose
        working-directory: ./cdk
